h1{
    text-align: center;
    color : white;
}
h2{
    color: gray;
    text-align: center;
}
h3{
    text-align: center;
}
p{
    font-size: large;
    color: white;
}
body{
    background-color :black;
    color :aliceblue
}
div{
    text-align: center;
}
body{
    background-image: url(image/ye.jpg);
}
span{
    background-color: black;
}
a{
    color : gray;
}